html, body {
    padding: 0;
    margin: 0;
    display: flex;
    font-family: 'Marvel', sans-serif;
    align-items: center;
    justify-content: center;
}

body {
    background: url("http://i.imgur.com/4dWagdw.png");
}

.container {
    margin: auto;
    color: #0ecb9c;
    background: rgba(0,0,0,0.7);
    max-width: 400px;
    -webkit-box-shadow: 0 0 30px 5px rgba(0,0,0,0.5);
    box-shadow: 0 0 30px 5px rgba(0,0,0,0.5);
    border: rgba(139, 139, 139, 0.5);
    border-top: 0px;
}

#alert-txt {
    font-size: 24px;
    text-align: center;
    word-wrap: break-word;
}
